body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(-45deg,rgba(74, 134, 232, 1),rgba(181, 53, 255, 1)), no-repeat;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}


.centertop{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}
p{
    font-size: 20px;
    color: #fff;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    font-size: 50px;
    color: #fff;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}